/* BASIC STYLES HERE */

.sus-img {
    height: 12em;
    width: 10em;
    object-fit: cover;
    /* border-radius: 5em; */
}

.bg-blackish {
    background-color: rgb(43, 43, 43);
}

.text-outline {
    -webkit-text-stroke: 1.5px black;
}

.bulletin-font {
    font-family: 'Staatliches', cursive;
}

.crime-input {
    border: none;
    background-color: #e9ecef;
    width: 100%;
}

.crime-input:focus {
    outline: none;
}

.crime-border {
    border-bottom: dashed 2px #9b9b9b;
}